@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --fg-color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --fg-color: white;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--fg-color);
}

/* Add padding to containers */
.container {
  padding: 16px;
}

div.flash {
  margin-left: 10vh;
  margin-right: 10vh;
  padding-left: 10vh;
}

div.flash.success {
  background-color: lawngreen;
}

div.flash.warning {
  background-color: darkorange;
}

div.flash.error {
  background-color: crimson;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
